// Color Patters
$--color-transparent: rgba(255, 255, 255, 0);

$primitives-blue-1: #EBF7FF;
$primitives-blue-3: #C5E0FE;
$primitives-blue-5: #94B5F7;
$primitives-blue-7: #4A7FE8;
$primitives-blue-10: #1234CD;
$primitives-blue-11: #032DAC;

$primitives-gray-1: #F7F7F8;
$primitives-gray-3: #E9EAEC;
$primitives-gray-5: #C6C7CD;
$primitives-gray-7: #9698A2;
$primitives-gray-11: #3F4147;
$primitives-gray-14: #1D1E22;
$primitives-gray-15: #1d1e2291;

$primitives-purple-1: #F3F0FF;
$primitives-purple-3: #E5DDF9;
$primitives-purple-5: #C896FA;
$primitives-purple-6: #AB6BF5;
$primitives-purple-8: #8D34F9;
$primitives-purple-10: #6323BE;

$primitives-yellow-1: #FFF7EB;
$primitives-yellow-3: #F8EFD8;
$primitives-yellow-5: #F2E697;
$primitives-yellow-6: #FDCD18;
$primitives-yellow-8: #B29410;
$primitives-yellow-10: #705B23;

$primitives-green-1: #F0FFF5;
$primitives-green-3: #D8F8E7;
$primitives-green-5: #97F2C1;
$primitives-green-6: #12E2AB;
$primitives-green-8: #02C08A;
$primitives-green-10: #2C6C50;

$primitives-red-1: #FFEBF2;
$primitives-red-3: #F9DDE5;
$primitives-red-5: #F4A4AF;
$primitives-red-6: #F3586D;
$primitives-red-8: #F31B3C;
$primitives-red-10: #AC2039;